<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>
          User
        </th>
        <td mat-cell *matCellDef="let item"> {{item.username}} </td>
      </ng-container>
    <ng-container matColumnDef="accuracy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
         Training Accuracy
        </th>
        <td mat-cell *matCellDef="let item"> {{item.accuracy | number: '1.0-2'}}% </td>
    </ng-container>
    <ng-container matColumnDef="testAccuracy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Test Accuracy
      </th>
      <td mat-cell *matCellDef="let item">{{item.testAccuracy | number: '1.0-2'}}%</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>