.example-spacer {
    flex: 1 0 auto;
  }

.example-icon {
    outline: none !important;
    border: 0 !important;
    border-radius: 0px;
    outline-style: none !important;
    background-color: Transparent;
    color: white;
}

.header {
  color: white;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav-list {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

a {
  text-decoration: none;
}

.mat-drawer {
  width: 250px;
}