<div class="loginform">
    <form>
        <mat-form-field>
            <input matInput name="username" [(ngModel)]="register.username" placeholder="Username">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" name="password" [(ngModel)]="register.password" placeholder="Password">
        </mat-form-field>
        <div class="buttons">
        <button mat-flat-button color="primary" (click)="loginUser()">Login</button>
        <!-- <h5>OR</h5> -->
        <button mat-flat-button color="primary" (click)="registerUser()">Register User</button>
        </div>
    </form>
</div>
