.file-input {
    display: none;
  }

  .result-img{
    width: 65%;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.file-upload{
    /* margin: 20px; */
    width: fit-content;
}

.div-img { 
    width: fit-content;
    display: flex;
    justify-content: center;
}

.heading {
    margin-left: 20px;
}

.component {
    margin: 20px;
}