<div class="intro" *ngIf="!started">
    <h1>Activity 1</h1>
    <p>A machine learning model is only as good as the training you provide.
        What happens if you mark all of the images as unhealthy? 
    </p>
    <button mat-flat-button color="primary" (click)="tryNow()">Try It Now</button>
</div>
<div class="im-and-label" *ngIf="notComplete && started">
    <img [src]="images[imageCount].imageUrl" class="corn-img">
    <!-- <img src="http://cornimagesbucket.s3.us-east-2.amazonaws.com/images_compressed/DSC00033.JPG"> -->
    <div class="label-form">
        <mat-radio-group class="labels" [(ngModel)]="selectedLabel">
            <mat-radio-button *ngFor="let label of labels" [value]="label">
                {{label}}
            </mat-radio-button>
        </mat-radio-group>
        <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
    <!-- <p>Image count: {{imageCount}}</p> -->
</div>

<div *ngIf="!notComplete" class="">
    <p>The predictions of your model were {{accuracy}}% accurate</p>
    <p>Confidence: {{sumConfidence/confidenceArray.length}}%</p>
    <p>Hmm... that didn't work very well. Let's learn how to be a better trainer so we can improve our model.</p>
    <div *ngFor="let item of confidenceArray">
        <div>
            <img [src]="item.imageUrl" class="confidence-img">
            <p>{{item.confidence}}%</p>
        </div>
    </div>
    <button mat-flat-button color="primary" [routerLink]="['/recognize-blight']">Next</button>
</div>