<h1 class='heading'>Activity 2</h1>

<div class="intro" *ngIf="!started">
    <!-- <p>A machine learning model is only as good as the training you provide.
        What happens if you mark all of the images as unhealthy? 
    </p> -->
    <button mat-flat-button color="primary" (click)="tryNow()">Try It Now</button>
</div>
<div class="im-and-label" *ngIf="notComplete && started">
    <img [src]="images[imageCount].imageUrl" class="corn-img">
    <div class="label-form">
        <mat-radio-group class="labels" [(ngModel)]="selectedLabel">
            <mat-radio-button *ngFor="let label of labels" [value]="label">
                {{label}}
            </mat-radio-button>
        </mat-radio-group>
        <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
    <!-- <p>Image count: {{imageCount}}</p> -->
</div>

<div *ngIf="!notComplete" class="completed">
    <p>The predictions of your model were {{accuracy}}% accurate</p>
    <br>
    <p>How does that compare to your accuracy from Activity 1? What does this demonstrate 
        about the importance of quality training data? 
    </p>
    <div *ngFor="let item of confidenceArray" class="img-array">
        <div>
            <img [src]="item.imageUrl" class="confidence-img">
            <p>Confidence: {{item.confidence | number: '1.0-2'}}%</p>
        </div>
    </div>
    <br>
    <p>Check out Activity 3, which will show you how a different type of machine learning model can identify blight.</p>
    <button mat-flat-button color="primary" [routerLink]="['/activity-three']">Activity 3</button>
</div>