<div class="im-and-label" *ngIf="notComplete">
    <img [src]="images[imageCount].imageUrl" class="corn-img">
    <!-- <img src="http://cornimagesbucket.s3.us-east-2.amazonaws.com/images_compressed/DSC00033.JPG"> -->
    <div class="label-form">
        <mat-radio-group class="labels" [(ngModel)]="selectedLabel">
            <mat-radio-button *ngFor="let label of labels" [value]="label">
                {{label}}
            </mat-radio-button>
        </mat-radio-group>
        <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
    <!-- <p>Image count: {{imageCount}}</p> -->
</div>

<div *ngIf="!notComplete" class="">
    <p>The predictions of your model were {{accuracy}}% accurate</p>
    <br>
    <p>How does that compare to your accuracy from Activity 1? What does this demonstrate 
        about the importance of quality training data? 
    </p>
    <br>
    <p>Check out the leaderboard to see how your model's accuracy compares to other users.
        You can complete Activity 2 as many times as you like to improve your model. 
    </p>
    <button mat-flat-button color="primary" [routerLink]="['/leaderboard']">Leaderboard</button>
    <br>
    <p>Or, check out Activity 3, which will show you how a different type of machine learning model can identify blight.</p>
    <button mat-flat-button color="primary" [routerLink]="['/activity-three']">Activity 3</button>

</div>