<div class="home-content">
    <h3>Home</h3>
    <h4> Welcome, </h4>
    <div class="activities">
        <div>
            <a href="http://localhost:8081/activity-one">
                <img class="icon" src="../../assets/img/available-activity.png">
            </a>
            <p>Activity 1</p>
        </div>
        <div>
            <a href="http://localhost:8081/activity-two">
                <img class="icon" src="../../assets/img/available-activity.png">
            </a>
            <p>Activity 2</p>
        </div>
        <div>
            <a href="http://localhost:8081/activity-three">
                <img class="icon" src="../../assets/img/available-activity.png">
            </a>
            <p>Activity 3</p>
        </div>
    </div>
    <div class="analytics">
        <div>
            <a href="http://localhost:8081/leaderboard">
                <img class="icon" src="../../assets/img/analytics-button.png">
            </a>
            <p>Leaderboard</p>
        </div>
    </div>
</div>

