.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    margin-top: 20px;
    width: 600px;
}

.component {
    padding: 20px;
}

.unhealthyText {
    width: 600px;
}